nav{
    height: 80px;
    background-color: white;
    border: 1px solid black;
}
.div-header{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nhm{
    position: absolute;
    width:60px;
    height: 60px;
    left: 6px;
    top:6px;
    padding: 7px 20px;
    margin-right: 50px;
}
.btnn{
    height: 50px;
    font-size: 20px;
    position: absolute;
    top: 15px;
    width: 100px;
}

.main{
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 88%;
    width: 100%;
}
.username{
    position: absolute;
    font-family: monospace;
    top: 6%;
    left: 10%;
    color: rgb(0, 0, 0);
}
.detailbox{
    top: 20%;
    left: 10%;
    width: 80%;
    height: 75%;
    background-color: #e5e6ea;
    border-radius: 5px 5px;
    position: absolute;
    display: flex;
    flex-direction: row;
}
.options{
    width: 30%;
    display: flex;
    left: 0;
    flex-direction: column;
    border: 2px solid #ddd9d9;
    border-radius: 5px 0px 0px 5px;
}
.display{
    background-color: #e5e6ea;
    color: #121212;
    right: 0;
    width: 70%;
    border: 2px solid #ddd9d9;
    border-radius: 0px 5px 5px 0px;
}
.btn1{
    top: 10%;
    left: 2%;
    height: 10%;
    width: 26.5%;
    position: absolute;
    background-color: #e5e6ea;
    border: #e5e6ea;
    font-size: 22px;
    font-family: inherit;
    text-align: left;
    border-radius: 2px 0px 0px 2px;
    border-right: 5px solid orange;
    box-shadow: 0px 0px 7px 0px black;
    cursor: pointer;
}
.btn2{
    top: 23%;
    left: 2%;
    height: 10%;
    width: 26.5%;
    position: absolute;
    background-color: #e5e6ea;
    border: #e5e6ea;
    font-size: 22px;
    font-family: inherit;
    text-align: left;
    border-radius: 2px 0px 0px 2px;
    cursor: pointer;
}
.active{
    background-color: white;
    border-right: 5px solid orange;
    box-shadow: 0px 0px 7px 0px black;
}
.btn1,.btn2:hover {
    background-color: white;
    border-right: 5px solid orange;
    box-shadow: 0px 0px 7px 0px black;
    /*color : red;*/
}
.btn1:active,.btn2:active{
    background-color: white;
    transform: translateY(4px);
}

.title{
    position: inherit;
    text-align: left;
    margin-left: 4%;
    font-size: 30px;
    font-family: inherit;
}

.accdetails{
    position: inherit;
    background-color: white;
    margin-top: 8%;
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
    flex-direction: row;
    height: 40%;
}

.topic{
    position: fixed;
    background: white;
    height: 7%;
    width: 51%;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #ddd9d9;
    font-size: 18px;
    font-family: monospace;
}

.topic1{
    position: absolute;
    left: 5%;
    font-weight: bolder;
}

.topic2{
    position: absolute;
    right: 5%;
}

.fulldetails{
    position: inherit;
    /* background-color: red; */
    width: 68%;
    display: flex;
    flex-direction: row;
}
.det1{
    position: absolute;
    top: 38%;
    height: 27%;
    left: 38%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: monospace;
    align-items: baseline;
}
.det2{
    position: absolute;
    right: 22%;
    top: 38%;
    height: 27%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: monospace;
    justify-content: flex-start;
    align-items: baseline;
}
.buttoon{
    position: absolute;
    right: 7%;
    top: 43%;
    height: 10%;
    width: 12%;
    background-color: #44c7e1;
    font-size: 18px;
    font-weight: bold;
    color: white;
    font-family: monospace;
    border: #44c7e1;
    border-radius: 7%;
}
.buttoon:hover {background-color: #7ac8d7}

.buttoon:active {
  background-color: #5196a4;
  transform: translateY(4px);
}